---
layout: default

---
      {% if site.github.url %}
        {% assign url_base = site.github.url %}
      {% else %}
        {% assign url_base = site.url %}
      {% endif %}

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Blog Home Two
        <small>Subheading</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_base }}/index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Blog Home 2</li>
      </ol>

      {% for post in site.posts %}

      <!-- Blog Post -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <a href="{{url_base}}/{{ post.url }}">
                <img class="img-fluid rounded" src="{{ site.placeholderimagesbaseurl }}{{ post.previewimage }}" alt="">
              </a>
            </div>
            <div class="col-lg-6">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text">{{ post.excerpt }}</p>
              <a href="{{url_base}}/{{ post.url }}" class="btn btn-primary">Read More &rarr;</a>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          Posted on {{ post.date | date: "%B %-d, %Y" }} by
          <a href="#">{{ post.author }}</a>
        </div>
      </div>

      {% endfor %}

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>

    </div>
<!-- /.row -->

