  <head>

    {% if site.github.url %}
      {% assign url_base = site.github.url %}
    {% else %}
      {% assign url_base = site.url %}
    {% endif %}
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
     {% if page.title %}
     {{ page.title }}
     {% else %}
     {{ site.title }}
     {% endif %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_base }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_base }}/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_base }}/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    {% if page.style %}
      <style>
        {{ page.style }}
      </style>
    {% endif %}

  </head>