  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
     {% if page.title %}
     {{ page.title }}
     {% else %}
     {{ site.title }}
     {% endif %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Modern business CSS -->
    <link href="/css/modern-business.css" rel="stylesheet">
    
    <!-- Custom styles -->
    <link href="/css/wbc-custom.css" rel="stylesheet">


    {% if page.style %}
      <style>
        {{ page.style }}
      </style>
    {% endif %}

  </head>